<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="index.html">
                    <i class="fa fa-tachometer" href="@Url.Action("Dashboard","Admin")"></i> Dashboard
                    <span class="badge badge-primary">NEW</span>
                </a>
            </li>
            <li class="nav-title">Trek</li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Packages","Admin")">
                    <i class="fa fa-bus"></i> Packages
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Offers","Admin")">
                    <i class="fa fa-gift"></i> Offers
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Bookings","Admin")">
                    <i class="fa fa-pencil"></i> Bookings
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("AboutUs","Admin")">
                    <i class="fa fa-pencil"></i> About Us
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Queries","Admin")">
                    <i class="fa fa-pencil"></i> Queries
                </a>
            </li>
        </ul>
    </nav>
</div>