@using TrekNepal.ViewModels;

<div class="container">
    @foreach (var group in PackageShortInfoViewModel.GetPackagesInfo())
    {
        <h1 class="my-4 group-title">@group.Key</h1>
        <hr class="group-border"/>
        <div class="row">
            @foreach (var package in group.ToList())
            {
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <p class="portfolio-price">@package.Price</p>
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="@package.FeaturedImageLink" alt=""></a>
                        <div class="card-body">
                            <p class="card-title">@package.PackageTitle</p>
                            <p class="card-durations">@package.DurationInWord</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>