@model IEnumerable<TrekNepal.Models.Booking>

@{
    ViewBag.Title = "Bookings";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item active">Bookings</li>
</ol>
<div class="row">
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-align-justify"></i> All Bookings
                        </div>
                        <div class="card-body">
                            <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th>Booked On</th>
                                        <th>Booked For</th>
                                        <th>Booked By</th>
                                        <th>No. of People</th>
                                        <th>Contact No.</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var booking in Model.Where(b => !b.Cleared).ToList())
                                        {
                                            <tr>
                                                <td>@booking.BookedDate</td>
                                                <td>@booking.BookFor</td>
                                                <td>@booking.BookedBy</td>
                                                <td>@booking.NumberOfPeople</td>
                                                <td>@booking.ContactNumber</td>
                                                <td>
                                                    <label class="switch switch-3d switch-primary">
                                                        <input class="switch-input" type="checkbox" checked="">
                                                        <span class="switch-slider"></span>
                                                    </label>
                                                    <a href="#" data-href="@Url.Action("GetBookingDetail", new { @id = booking.Id })">detail</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="6">No Bookings Yet</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.col-->
            </div>
        </div>
    </div>
    <div id="partial-form"></div>
</div>
<script>
    $(".btn-modify").on("click", function () {
                                var url = $(this).data("href");
        $(".container-fluid").addClass("col-lg-8");
                                if (url != null) {
            $("#partial-form").addClass("col-lg-4");
            $("#partial-form").load(url);
                                }
                            });
</script>

