@using TrekNepal.Models;
@model TrekPackage
<div class="card">
    <form id="package-form" class="form-horizontal" action="@Url.Action("SavePackage")" method="post" enctype="multipart/form-data">
        <div class="card-body">
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <i class="fa fa-pencil"></i> Trek Package
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Title</label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.PackageTitle, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PackageTitle, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Type</label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.PackageType, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PackageType, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Duration</label>
                    <div class="col-md-9">
                        <div class="input-group">
                            @Html.EditorFor(x => x.Day, new { @class = "form-control" })
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    Day
                                </span>
                            </div>
                        </div>
                        <div class="input-group">
                            @Html.EditorFor(x => x.Night, new { @class = "form-control" })
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    Night
                                </span>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.Day, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.Night, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Duration (InWord)</label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.DurationInWord, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DurationInWord, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Difficulty</label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Difficulty, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Difficulty, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Price</label>
                    <div class="col-md-5">
                        <div class="input-group">
                            <input type="number" name="PackagePrice" value="@Model.PackagePrice" class="form-control" />
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    $
                                </span>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.PackagePrice, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Pic</label>
                    <div class="col-md-9">
                        <input type="file" name="image" />
                        @Html.ValidationMessageFor(model => model.Difficulty, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-sm btn-success" type="submit">
                <i class="fa fa-dot-circle-o"></i> Submit
            </button>
        </div>
    </form>
    <div class="row">
        <div class="col-lg-12">
            <a href="#" data-href="@Url.Action("SaveRoute", new { @index = -1, @packageId = Model.Id })" class="btn-modify">
                <i class="fa fa-plus-circle"></i> Add new
            </a>
        </div>
    </div>

    <div id="tempRoutes">
        @{Html.RenderAction("Routes");}
    </div>
    

    <button hidden id="modalBtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        Open modal
    </button>
    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content card">

                <!-- Modal Header -->
                <div class="modal-header card-header">
                    <i class="fa fa-route"></i> Make Changes to Route
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(".btn-modify").on("click", function () {
        var url = $(this).data("href");
        $(".modal-body").load(url);
        $("#modalBtn").trigger("click");
    });
</script>

