@model IEnumerable<TrekNepal.Models.TrekPackage>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PackageTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PackageType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PackageDuration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DurationInWord)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Difficulty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PackagePrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PackageTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PackageType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PackageDuration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DurationInWord)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Difficulty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PackagePrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
